<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwj.tgy.mapper.UserRoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.hwj.tgy.entity.UserRoleInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_TYPE" jdbcType="INTEGER" property="roleType" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="HANDLE_TIME" jdbcType="DATE" property="handleTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_NAME, ROLE_TYPE, STATE, HANDLE_TIME
  </sql>
  <select id="selectByPrimary" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_role_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.hwj.tgy.entity.UserRoleInfo">
    insert into user_role_info (ID, ROLE_NAME, ROLE_TYPE, 
      STATE, HANDLE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleType,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{handleTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hwj.tgy.entity.UserRoleInfo">
    insert into user_role_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="handleTime != null">
        HANDLE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        #{handleTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hwj.tgy.entity.UserRoleInfo">
    update user_role_info
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null">
        HANDLE_TIME = #{handleTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hwj.tgy.entity.UserRoleInfo">
    update user_role_info
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=INTEGER},
      STATE = #{state,jdbcType=INTEGER},
      HANDLE_TIME = #{handleTime,jdbcType=DATE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>